#headBox {
    width: 100%; height: 80px; position: relative; z-index: 10;

    > .inner {
        display: flex; justify-content: space-between; align-items: center; 

        nav.gnb {
            display: flex; align-items: center;
    
            > ul {
                display: flex;
    
                > li+li {
                    margin-left: 20px;
                }
            }
    
            > .btn_main {
                margin-left: 20px; background-color: map-get($color, primary); color: #fff; padding: 8px 16px; border-radius: 4px;
            }
        } 
    }
}