<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="이미지 카드 제작기">
    <meta name="description" content="간단하게 정보를 입력하면 이미지로 만들어주는 사이트" />
    <meta name="author" content="DanBi-Lee" />
    <meta property="og:image" content="../../img/meta_image.png">
    <script src="https://kit.fontawesome.com/f3b31dec81.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="@@styleUrl">
    <title>@@title</title>
</head>
<body>