<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f3b31dec81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="@@styleUrl">
	<script type="text/javascript" src="js/jQuery/jquery-1.7.1.min.js"></script>	
	<script type="text/javascript" src="js/jQuery/jquery.easing.1.3.js"></script> 
	<script src="js/jQuery/jquery.mousewheel.min.js"></script>
    <title>@@title</title>
</head>
<body>