<footer id="footBox">
    <div class="inner">
        <h1>logo</h1>
        <nav class="sns">
            <ul>
                <li>
                    <a href="https://github.com/DanBi-Lee/portfolio_mkCard" target="_blank">깃허브</a>
                </li>
                <li>
                    <a href="https://actually-i-am.tistory.com/" target="_blank">기술 블로그</a>
                </li>
            </ul>
        </nav>
        <small>
            2020, DanBi-Lee
        </small>
    </div>
</footer>