@charset 'utf-8';
@import "_reset";
@import "_variables";
@import "_common";
@import "partials/header";

[id$="Box"] .inner{
    padding: 60px 20px;
}

#mainBox {
    min-height: 100vh; position: relative; margin-top: -80px; padding-top: 80px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; 

    &.on {
        background-image: url('../img/background01.png');
    }

    > .inner {
        display: flex; flex-direction: column; justify-content: center;

        h1 {
            font-size: map-get($fontSize, mainTitle); margin-bottom: 40px;

            +p {
                font-size: 32px; margin-bottom: 40px;
            }
        }

        > .btn-start {
            padding: 0.75em 1.5em; background-color: map-get($color,primary); color: #fff; width: auto; align-self: flex-start; border-radius: 8px; font-size: 20px; 
        }

        > .pic {
            position: absolute; width: 500px; height: auto; margin-left: 50px; bottom: -500px; left: 50%; pointer-events: none; z-index: 10; transition: 500ms cubic-bezier(0.71, -0.18, 0.58, 1.32);

            &.on {
                width: 400px; margin-left: 80px; bottom: -440px;

                > img {
                    box-shadow: 8px 8px 16px rgba(0,0,0,0.3);
                }
            }

            > img {
                width: 100%; height: auto; border-radius: 16px; box-shadow: 40px 40px 20px rgba(0,0,0,0.3); border: 1px solid rgba(255,255,255,0.6); box-sizing: border-box; transition: 500ms;
            }
        }
    }
}

.scrolling #introduceBox, .scrolling #usecaseBox {
    transform : skewY(-10deg) !important;
}

#introduceBox {
    min-height: 100vh; background-color: lighten(map-get($color,primary), 40%); box-sizing: border-box; transition: all 500ms; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-image: url('../img/background02.png');

    .inner {
        display: flex; flex-direction: column; justify-content: center;
        
        h1 {
            font-size: map-get($fontSize, subTitle); margin-bottom: 40px;
        }

        .desc {
            li {
                font-size: 20px;

                + li {
                    margin-top: 10px;
                }

                &::before {
                    content: "-";
                }
            }
        }
    }
}

#howtoBox {
    min-height: 100vh; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background: url('../img/background03.png') no-repeat center;

    .inner {
        height: 100%; 
        
        h1 {
            font-size: map-get($fontSize, subTitle); margin-bottom: 40px;
        }

        .list_example {
            display: flex; width: 100%;

            > li {
                width: 25%; padding: 20px; box-sizing: border-box;

                &:nth-child(1) .pic {
                    background-image: url('../img/howtoBox/icon_homepage.png') ;
                }

                &:nth-child(2) .pic {
                    background-image: url('../img/howtoBox/icon_development.png') ;
                }

                &:nth-child(3) .pic {
                    background-image: url('../img/howtoBox/icon_illustration.png') ;
                }

                &:nth-child(4) .pic {
                    background-image: url('../img/howtoBox/icon_download.png') ;
                }

                .pic { 
                    width: 60%; padding-top: 60%; background: center; margin: 0 auto; margin-bottom: 20px; background-size: contain;
                }

                .content {
                    dt {
                        font-weight: 600; font-size: 18px; margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

#usecaseBox {
    min-height: 100vh; background-color: lighten(map-get($color,primary), 42%); display: flex; justify-content: center; flex-direction: column; box-sizing: border-box; transition: all 500ms; background-position: center; background-image: url('../img/background04.png');

    .inner {
        height: auto; display: flex; flex-wrap: wrap;

        h1 {
            width: 100%; font-size: 36px; margin-bottom: 40px;
        }

        > .list_benefit {
            width: 40%;

            > li {
                border-radius: 8px; padding: 20px; transition: all 600ms; display: flex; align-items: center;

                &:nth-child(1) > .pic {
                    background-color: #b089ff; background-image: url('../img/usecaseBox/icon_1.png');
                }

                &:nth-child(2) > .pic {
                    background-color: #faa72b; background-image: url('../img/usecaseBox/icon_2.png');
                }

                &:nth-child(3) > .pic {
                    background-color: #f05a86; background-image: url('../img/usecaseBox/icon_3.png');
                }

                > .pic {
                    width: 80px; height: 80px; background: center no-repeat;margin-right: 20px; border-radius: 8px;
                    flex-shrink: 0;
                }

                + li {
                    margin-top: 30px;
                }

                &:hover {
                    box-shadow: 8px 8px 24px rgba(0,0,0,0.3); 
                }
            }
        }

        > .pic_box {
            width: 60%; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center; align-items: center;

            .pic_wrap {
                width: 320px; height: 240px; background-color: map-get($color, primary); position: relative; border-radius: 16px; transform: rotate(10deg) translateY(10px);

                .pic {
                    width: 100%; height: 100%; position: absolute; top: -50px; left: -60px; background-color: #fff; box-shadow: 8px 8px 24px rgba(0,0,0,0.3); transform: rotate(-10deg) translate(-10px, -10px);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
     }
}

#exampleBox {
    height: 100vh; position: relative; background-position: center; background-image: url('../img/background05.png');

    .inner {
        display: flex; flex-direction: column; justify-content: center; align-items: center; 

        > h1 {
            margin-top: -160px;
        }

        >.box_img {
            position: absolute; left: 0px; bottom: 15%; width: calc(248px *10);

            > ul {
                position: relative;
                > li {
                    width: 248px; float: left;
                    > img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    #mainBox {
        > .inner {
            > .pic {
                width: 400px; 
                left: 50%;
                top: 50%;
                margin-left: 50px;
                margin-top: 200px;
    
                &.on {
                    width: 300px;
                    margin-top: 300px;
                }
            }
        }
    }
    
    
    #howtoBox {
        .inner {
            .list_example {
                flex-wrap: wrap;
    
                > li {
                    width: 50%;
                }
            }
        }
    }
    
    #usecaseBox {
    
        .inner {
            > .list_benefit {
                width: 100%;
            }
            > .pic_box {
                display: none;
            }
         }
    }
}

@media screen and (max-width: 600px){
    #mainBox {
        > .inner {
            h1 {
                font-size: map-get($fontSize, mobile_mainTitle);

                + p {
                    font-size: 24px;
                }
            }
            > .pic {
                display: none;
            }
        }
    }

    #introduceBox {
        .inner {
            h1 {
                font-size: map-get($fontSize, mobile_mainTitle);
            }
        }
    }
    
    
    #howtoBox {
        .inner {
            h1 {
                font-size: map-get($fontSize, mobile_mainTitle);
            }
            .list_example {
                > li {
                    width: 100%;
                }
            }
        }
    }
    
    #usecaseBox {
    
        .inner {
            > .list_benefit {
                width: 100%;
            }
            > .pic_box {
                display: none;
            }
         }
    }
}

@import "partials/footer";